html,body
{
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#container {
  display: flex;
  flex-wrap: wrap;
}

/*
*
*
Header
*
*/

.header{
  text-align: center;
  width: 100%;
}

 .content {
  width: 100%;
  color: darkslateblue;
  text-align: center;
}


/*
*
*
Nav
*
*
*/

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.topnav li {
  float: right;
  padding: 10px;
}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
  min-width: 24px;
  min-height: 24px;
}

ul.topnav li a:hover {
  background-color: darkslateblue;
  transform: scale(1.1);
}

/*
*
*
AboutMe
*
*
*/



 .aboutMe {
  font-size: 0.8rem;
  width: 100%;
 }

 /*
 *
 *
 Projects
 *
 *
 */

 .projects {
  font-size: 0.8rem;
  width: 100%;
 }

.projects li {
  margin-bottom: 2px;
}

.projects li a {
  text-decoration: none;
  color: black;
  padding: 1.5em;
  min-width: 49px;
  min-height: 49px;
}

/*@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}*/

@media screen and (min-width: 1px) and (max-width:400px) {
  .header__title {
    font-size: 2em;
    font-weight: 200;
  }

  .content {
    font-size: 1.2em;
  }

  nav {
    top: 1em;
  }

  ul.topnav li {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
}

@media screen and (min-width: 401px) {
  .header__title {
    font-size: 3em;
  }

  .content {
    font-size: 1.5em;
  }

  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }

  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}


@media screen and (min-width: 700px) {
  .content {
    font-size: 2.6rem;
  }

  #container {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}


